<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929442135536-mnscj57p4s0ijnthmoua07ob6g9u24qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929442135536-mnscj57p4s0ijnthmoua07ob6g9u24qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDGFgeRrZzYZXpWkjF2qGZNed8DM6i0WJU</string>
	<key>GCM_SENDER_ID</key>
	<string>929442135536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esquareBatteries</string>
	<key>PROJECT_ID</key>
	<string>esquare-batteries</string>
	<key>STORAGE_BUCKET</key>
	<string>esquare-batteries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929442135536:ios:cdaae893ba1c5b25e33135</string>
</dict>
</plist>